@import "variables";

@slider-width: 260px;
.post {
  background: #ffffff;
  height: auto;
  margin-right: @slider-width;
  a {
    color: @gray-dark;
  }
  .infos {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    h1 {
      padding: 0px;
      margin: 0px;
      font-size: 22px;
      color: #333;
      text-align: left;
      line-height: 100%;
      margin-bottom: 8px;
    }
    .avatar_large {
      width: 48px;
      height: 48px;
    }
  }

  .entry-content {
    padding: 10px;
  }

  .tools, .social-share-button {
    padding: 0px 10px 10px 10px;
  }
}