.post {
  background: #ffffff;
  height: auto;
  margin-right: 260px;
}
.post a {
  color: #333333;
}
.post .infos {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.post .infos h1 {
  padding: 0px;
  margin: 0px;
  font-size: 22px;
  color: #333;
  text-align: left;
  line-height: 100%;
  margin-bottom: 8px;
}
.post .infos .avatar_large {
  width: 48px;
  height: 48px;
}
.post .entry-content {
  padding: 10px;
}
.post .tools,
.post .social-share-button {
  padding: 0px 10px 10px 10px;
}
.comments {
  padding-bottom: 10px;
}
.comments .total {
  padding: 6px 10px;
  border-bottom: 1px solid #DDD;
  color: #999;
}
.comments .items .item {
  padding: 10px 0px;
  border-bottom: 1px solid #DDD;
}
.comments .items .item .face {
  margin: 0px 10px;
}
.comments .items .item .content {
  padding-right: 10px;
}
.comments .items .item .content p {
  margin: 0px;
}
.comments .items .item .name {
  margin-right: 10px;
}
.comments .items .item .time {
  color: #999999;
  font-size: 10px;
}
.comments .items .item .time a {
  color: #999999;
}
.reply {
  margin-right: 260px;
  padding: 10px;
}
.reply .send {
  margin-top: 10px;
  width: 100%;
}
