/* 基础CSS，定义一些通用的样式 */
body {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  color: #12313;
  height: 100%;
  width: 100%;
  margin: 0;
}
.center {
  display: table;
  margin-left: auto;
  margin-right: auto;
  float: none;
}
.top-space-2 {
  margin-top: 2px;
}
.top-space-5 {
  margin-top: 5px;
}
.top-space-10 {
  margin-top: 10px;
}
.top-space-15 {
  margin-top: 15px;
}
.top-space-20 {
  margin-top: 20px;
}
.top-space-30 {
  margin-top: 30px;
}
.left-space-10 {
  margin-left: 10px;
}
.left-space-15 {
  margin-left: 15px;
}
.left-space-20 {
  margin-left: 20px;
}
.poster-avatar {
  position: absolute;
  top: 12px;
  left: 9px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
